fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.12
pydantic==2.9.2
pydantic-settings==2.5.2
aiofiles==24.1.0
google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-oauthlib==1.2.1
aiohttp==3.10.10
discord.py==2.4.0
Pillow==10.4.0
piexif==1.1.3
